<section class="footer">
  <p>© 2022 Macaroni Station</p>
</section>

<style>
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>