---
export interface Props {
  title: string
  date: string
};

const { title, date } = Astro.props;
---

<section class="header">
  <h1 class="header-title">{title}</h1>
  <h4 class="metadata">Terakhir Diubah : {date}</h4>
  <hr>
</section>

<style>
  .header {
    padding-top: 2rem;
  }

  .header-title {
    font-size: 32px;
    color: rgb(49, 49, 49);
    margin-block-start: 1rem;
    margin-block-end: 0rem;
  }

  .metadata {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
  }

  @media only screen and (max-width: 576px) {
    .header-title {
      font-size: 28px;
    }

    .metadata {
      font-size: 14px;
    }
  }
</style>